/*
	Forms section
	=============
*/

/*---------- Form Validation ----------*/

.form-control {
    .was-validated &:valid,
    &.is-valid,
    .was-validated &:invalid,
    &.is-invalid {
      &:focus {
          box-shadow: none;
      }
    }
}

.form-control.default-style {
    .was-validated &:valid,
    &.is-valid {
      border-color: $input-border-color;

      &:focus {
        border-color: $input-focus-border-color;
      }

      ~ .valid-feedback,
      ~ .valid-tooltip {
        display: none;
      }
    }
}