/*
	General section
	===============
*/
.bg-image {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

iframe, object, embed {
	max-width: 100%;
}

.screen-reader-text {
	@extend .sr-only;
}