/*
	Header section
	==============
*/

.header-wrapper {
	height: $headerWrapperHeight;
	position: relative;
}

/*---------- Site info ----------*/

.site-info {
	height: 100%;
	position: relative;
	@include transparentOverlay(0.75);

	.site-title,
	.site-description {
		color: $siteInfoColor;
		z-index: 1;
	}

	.site-title {
		font-size: $siteHeadingSize;
		letter-spacing: 0.01rem;
		margin: 0;

		@include gyaanLinkLight;
	}

	.site-description {
		font-size: $siteDescriptionSize;
		margin-top: 0.9em;
	}
}

// import top navigation menu
@import 'header-menu';