// All mixins

@mixin remFS($size) {
	font-size: remSize($size);
}

@mixin percentageCardColWidth($containerColumns) {
	@each $breakpoint, $columns in $containerColumns {
		@if $columns >= 1 {
			$container-max-width: map-get($container-max-widths, $breakpoint);

			@include media-breakpoint-up($breakpoint) {
				width: percentage( ( ( $container-max-width - $grid-gutter-width - ( $postCardGutterWidth * ( $columns - 1 )  ) ) / $container-max-width ) / $columns );
			}
		}
	}
}

@mixin transparentOverlay($value) {
	&::before {
		background-color: transparentize($black, $value);
		content: '';
		width: 100%;
		height:100%;
		position: absolute;
		left: 0;
		top: 0;
	}
}