
/*---------- Post cards ----------*/

.post-cards {
	margin-bottom: 2rem;

	.card-wrapper {
		margin-bottom: remSize(18);
		padding-right: 9px;
		padding-left: 9px;

		.card {
			border-color: $postCardBorderColor;
		}
	}

	a.card-img-link {
		display: block;
		overflow: hidden;
		position: relative;
		width: 100%;
		@include border-top-radius($card-inner-border-radius);

		.card-img-top {
			height: $postCardFeaturedImageHeight;
			transition: transform 0.4s ease-out;
		}

		.card-img-overlay {
			background-color: $postCardFeaturedImageOverlayColor;
			transition: background-color 0.4s ease-out;
		}

		&:hover {
			.card-img-top {
				transform: scale(1.1);
			}

			.card-img-overlay {
				background-color: transparentize($postCardFeaturedImageOverlayColor, 1);
			}
		}
	}

	h4.entry-title {
		font-size: $cardTitleSize;
		margin-bottom: 0.5rem;
		padding: remSize(7) 0rem 0rem;
		@include media-breakpoint-down(xs) {
			font-size: $cardTitleSizeSM;
		}

		a {
			transition: color 0.3s ease-out;
		}
	}

	.entry-meta {
		.meta-primary {
			a.btn {
				font-size: 0.75rem;
				margin-right: 0.25rem;
				@include media-breakpoint-down(md) {
					font-size: 0.6rem;
				}
			}
		}
		.meta-secondary {
			a,
			span {
				@include remFS(12);
			}
		}
	}
	
	.entry-summary {
		p {
			@include remFS(14);
			letter-spacing: 0.01rem;
			line-height: 1.8;
		}
	}

	.entry-content {
		margin-top: 1rem;
	    margin-bottom: 0;
	}

	// card - Image / Gallery post format
	
	.img-post-card,
	.gallery-post-card {
		h4.entry-title {
			@include gyaanLinkLight;
		}

		.entry-meta {
			.meta-primary {
				margin-bottom: 0;
			}
		}
	}

	// card - Gallery post format only

	.gallery-post-card {
		@extend %meta-secondary-light;

		.carousel {
			.carousel-inner {
				@include border-radius($card-inner-border-radius);

				.card-img {
					height: $postCardFeaturedImageHeight;
				}
			}
		}
	}

	// card - Video post format

	.video-post-card {
		.entry-video {
			height: $postCardFeaturedImageHeight;
		}
	}
}