/*
	Posts section
	=============
*/
.content-wrapper {
	margin-top: remSize(30);
}

.page-header {
	margin-bottom: remSize(21);

	.page-title {
		background-color: $pageTitleBgColor;
		border-left: $pageTitleBorder;
		font-size: $pageTitleSize;
	}

	p {
		margin-bottom: 0;
	}
}

.main-article {
	margin-bottom: 1rem;
	padding-bottom: 1rem;
	border: $card-border-width solid $postCardBorderColor;
  	@include border-radius($border-radius);
}

.main-article-wrapper {
	padding: $card-spacer-x ($card-spacer-x * 2);
}

// placeholder selectors
%meta-secondary-light {
	.entry-meta {
		.meta-secondary {
			@include gyaanLinkLight;
			span {
				color: $linkColorLight;
			}
		}
	}
}

// import posts-cards
@import 'posts-cards';

/*---------- Post format - Standard ----------*/

.post-thumbnail {
	@include border-top-radius($border-radius);
	box-shadow: inset 7px 18px 70px rgba($black, 0.45);
	margin: 0 auto 0.75rem;
	&.bg-image {
		width: 100%;
		height: $contentFeaturedImageHeight;

		@include media-breakpoint-down(md) {
			height: ($contentFeaturedImageHeight / 2);
		}
	}
}

h1.entry-title {
	font-size: $singleTitleSize;
	padding-top: remSize(10);
	padding-bottom: 0.25rem;
	@include media-breakpoint-down(sm) {
		font-size: $singleTitleSizeSM;
	}
}

.entry-meta {
	.meta-primary {
		margin-bottom: 1.5rem;

		.category-link {
			display: inline-block;
			margin-right: 0.45rem;
			margin-bottom: remSize(5);
			padding: 0.45rem 0.9rem;
			transition: background-color 0.5s ease-out;
		}
	}

	.meta-secondary {
		margin-bottom: remSize(10);
		@include gyaanLinkDark;

		a,
		span {
			display: inline-block;
		}

		span {
			color: $linkColorDark;
		}

		.posted-by,
		.posted-on {
			padding-right: 0.75rem;
		}

		.posted-on,
		.post-comments {
			padding-left: 0.75rem;
			border-left: 1px solid $metaSecondaryBorderColor;
		}
	}
}

.entry-content {
	margin-top: 1.5rem;
	margin-bottom: 0.75rem;
	padding-top: 0.75rem;
	padding-bottom: 0.75rem;
	@include clearfix;

	p {
		line-height: 2;

		&:last-child {
			margin-bottom: 0;
		}
	}
}

.entry-footer {
	.tag-list {
		padding: 1rem 0rem;
		
		a {
			margin-right: remSize(7);
		}
	}
}

/*---------- Post format - Image / Gallery ----------*/

.post_format-post-format-image,
.post_format-post-format-gallery {
	.post-thumbnail {
		margin: 0 auto;
	}

	.img-content {
		background-color: $imgContentBgColor;
		margin: 0 auto;
		overflow: hidden;
		padding: 0.75rem;
		width: 100%;
		@include media-breakpoint-up(sm) {
			padding: 1rem 1.5rem;
		}
	}

	h1.entry-title {
		@include media-breakpoint-down(sm) {
			margin-bottom: 0;
		}
	}

	.entry-meta {
		@include media-breakpoint-down(sm) {
			.meta-secondary {
				a,
				span {
					@include remFS(12);
				}
			}	
		}
	}
}

/*---------- Post format - Image only ----------*/

.post_format-post-format-image {
	@extend %meta-secondary-light;

	h1.entry-title {
		color: $white;
	}

	.entry-footer {
		.tag-list {
			color: $white;
		}
	}
	
	// for content template part only
	&.image-post-content {
		border: 0;

		.main-article-wrapper {
			padding: 0;
			position: relative;
		}

		.post-thumbnail {
			@include border-top-radius(0);
			width: 100%;
		}

		.img-overlay {
			@include overlayBase;
		}

		.img-content {
			padding: 2rem;
			position: absolute;
			bottom: 0;
		}

		.entry-meta {
			.meta-primary {
				margin-bottom: 0;
			}
		}

		@include media-breakpoint-down(md) {
			.img-overlay {
				position: relative;
			}

			.img-content {
				background-color: opacify($imgContentBgColor, 0.25);
				padding: 1.5rem;
				position: relative;
			}
		}
	}
}

/*---------- Post format - Gallery only ----------*/

.post_format-post-format-gallery {
	.carousel-item {
		backface-visibility: visible;
	}

	// for content template part only
	&.gallery-post-content {
		.carousel {
			.carousel-inner {
				.bg-image {
					height: $contentFeaturedImageHeight;
				}

				.carousel-caption {
					background-color: $carouselCaptionBgColor;
					bottom: 0;
					padding: 1.25rem 0.5rem;
				}
			}
		}
	}
}

/*---------- Post format - Audio ----------*/

.post_format-post-format-audio {
	.entry-content {
		iframe {
			width: 100%;
			height: ($contentFeaturedImageHeight / 2);
		}
	}
}

/*---------- Post format - Video ----------*/

.post_format-post-format-video {
	// for content template part only
	&.video-post-content {
		iframe, object, embed {
		    width: 100%;
		    height: $contentFeaturedImageHeight;
		}
	}
}

// other imports
@import 'posts-comments';
@import 'posts-extras';