
/*---------- Post cards ----------*/

.post-cards {
	margin-bottom: 2rem;

	.card-wrapper {
		margin-bottom: remSize(18);
		padding-right: 9px;
		padding-left: 9px;

		.card {
			border-color: $postCardBorderColor;
		}
	}

	a.card-img-link {
		display: block;
		overflow: hidden;
		position: relative;
		width: 100%;
		@include border-top-radius($card-inner-border-radius);

		.card-img-top {
			height: $postCardFeaturedImageHeight;
			transition: transform 0.4s ease-out;
		}

		.card-img-overlay {
			background-color: $postCardFeaturedImageOverlayColor;
			transition: background-color 0.4s ease-out;
		}

		&:hover {
			.card-img-top {
				transform: scale(1.1);
			}

			.card-img-overlay {
				background-color: transparentize($postCardFeaturedImageOverlayColor, 1);
			}
		}
	}

	.entry-title {
		a {
			transition: color 0.3s ease-out;
		}
	}
	h4.entry-title {
		font-size: $cardTitleSize;
		margin-bottom: 0.5rem;
		padding: remSize(7) 0rem 0rem;
		
		@include media-breakpoint-down(xs) {
			font-size: $cardTitleSizeSM;
		}
	}

	.entry-meta {
		.meta-primary {
			margin-bottom: 0.75rem;

			.category-link {
				margin-right: 0.25rem;

				@include media-breakpoint-down(xs) {
					font-size: 69%;
				}
			}
		}
		.meta-secondary {
			a,
			span {
				@include remFS(12);
			}
		}
	}
	
	.entry-summary {
		p {
			@include remFS(14);
			line-height: 1.9;
		}
	}

	.entry-content {
		margin-top: 1rem;
	    margin-bottom: 0;
	}

	// card - Image / Gallery post format
	
	.img-post-card,
	.gallery-post-card {
		.entry-title {
			@include gyaanLinkLight;
		}

		.entry-meta {
			.meta-primary {
				margin-bottom: 0;
			}
		}
	}

	// card - Gallery post format only

	.gallery-post-card {
		@extend %meta-secondary-light;

		.carousel {
			.carousel-inner {
				@include border-radius($card-inner-border-radius);

				.bg-image {
					height: $postCardFeaturedImageHeight;
				}
			}
		}
	}

	// card - Video post format

	.video-post-card {
		.entry-video {
			overflow: hidden;
			width: 100%;
			height: $postCardFeaturedImageHeight;

			iframe,
			embed,
			object {
				width:100%;
				height: $postCardFeaturedImageHeight;
				border: 0;
			}

			@include media-breakpoint-down(xs) {
				height: $postCardFeaturedImageHeight - 100px;

				iframe,
				embed,
				object {
					height: $postCardFeaturedImageHeight - 100px;
				}
			}
		}
	}

	// card - Quote post format

	.quote-post-card {
		.blockquote {
    		font-size: 1rem;
		}
	}
}

// infinite scroll
.page-load-status {
	display: none;

	.infinite-scroll-request {
		padding: 1.25rem 0;
	}
}

@import 'loaders';