/*---------- Galleries ----------*/

.gallery {
	text-align: center;
}

.gallery-item {
	display: inline-block;
	text-align: left;
	vertical-align: top;
	margin: 0 0 0.75em;
	max-width: 100%;
	padding: 0 0.55em;

	a {
		img {
			transition: opacity 0.3s ease-in;
		}

		&:hover {
			img {
				opacity: 0.9;
			}
		}
	}
}

.gallery-caption {
	display: block;
	text-align: center;
	padding: 0.5em 0;
	margin-bottom: 0;
	@include remFS(14);
}

@include media-breakpoint-up(sm) {
	.gallery-item {
		max-width: 50%;
	}
}

@include media-breakpoint-up(md) {
	@for $i from 1 through 9 {
		.gallery-columns-#{$i} .gallery-item {
			max-width: ( 100 / $i ) * 1%;

			@if $i > 5 {
				.gallery-caption {
					display: none;	
				}
			}
		}
	}
}

/*---------- Pagination ----------*/

.posts-pagination {
	@include media-breakpoint-down(sm) {
		&.pagination-lg {
			.page-link {
				padding: 0.5rem 0.75rem;
				font-size: 1rem;
				line-height: 1.25;
			}
		}
	}
}

/*---------- Page Navigation ----------*/

.page-navigation {
	background-color: $pageNavBgColor;
	display: none;
	padding: 1rem;
	position: fixed;
	top: 70%;
	left: 0;
	overflow: hidden;
	transition: background-color, width 0.4s ease-out;
	width: 2.75rem;
	z-index: $pageNav-z-index;
	@include border-right-radius($border-radius);
	@include gyaanLinkLight;

	@include hover-focus {
		background-color: $pageNavHoverBgColor;
		width: 10.5rem;
	}

	.prev-page-icon {
		display: inline-block;
		width: 1.75rem;
	}

	.prev-page-label {
		display: inline-block;
		height: 1.5rem;
		position: absolute;
		left: 43px;
		top: 14px;
		overflow: hidden;
	}
}

/*---------- Post Navigation ----------*/

.post-navigation {
	.nav-links {
		@include gyaanLinkDark;

		a {
			@include hover-focus {
				.badge.badge-info {
					background-color: $postNavBadgeHoverBgColor;
				}
			}
		}
		
		.badge {
			padding: 0.7em 1em;
			transition: background-color 0.3s ease-out;
		}
	}

	.nav-title {
		padding-right: 0.75rem;
	    padding-left: 0.75rem;
	}
}