/*
	Posts section
	=============
*/
.content-column {
	margin-top: remSize(37);
}

.main-article {
	margin-bottom: 1rem;
	padding-bottom: 1rem;
	border: $card-border-width solid $postCardBorderColor;
  	@include border-radius($border-radius);
}

.main-article-wrapper {
	padding: $card-spacer-x ( $card-spacer-x * 2 );
}

/*---------- Post cards ----------*/

.post-cards {
	margin-top: remSize(21);
	margin-bottom: 2rem;

	.card {
		border-color: $postCardBorderColor;
		display: inline-block;
		margin-bottom: remSize(18);
		width: 100%;
		@include media-breakpoint-down(xs) {
			position: relative !important;
			left: 0 !important;
			top: 0 !important;
		}
		@include percentageCardColWidth( ( "sm": 1, "md": 2, "lg": 3, "xl": 3 ) );
	}

	a.card-img-link {
		display: block;
		overflow: hidden;
		position: relative;
		width: 100%;
		@include border-top-radius($card-inner-border-radius);

		.card-img-top {
			height: $postCardFeaturedImageHeight;
			transition: transform 0.5s linear;
		}

		.card-img-overlay {
			background-color: rgba($black, 0.05);
		}

		&:hover {
			.card-img-top {
				transform: scale(1.1);
			}

			.card-img-overlay {
				background-color: rgba($black, 0);
			}
		}
	}

	.entry-meta {
		.meta-primary {
			a.btn {
				font-size: 0.75rem;
				margin-right: 0.25rem;
			}
		}
		.meta-secondary {
			a,
			span {
				@include remFS(12);
			}
		}
	}
}

/*---------- Post format - Standard ----------*/

.post-thumbnail {
	box-shadow: inset 7px 18px 70px rgba($black, 0.45);
	width: 100%;
	height: $contentFeaturedImageHeight;
	margin: 0 auto 0.75rem;
}

h1.entry-title {
	font-size: $singleTitleSize;
	padding-top: remSize(10);
	padding-bottom: 0.25rem;
}

h4.entry-title {
	font-size: $excerptTitleSize;
	padding: remSize(7) 0rem 0rem;

	a {
		transition: color 0.3s ease-out;
	} 
}

.entry-meta {
	.meta-primary {
		a.btn {
			display: inline;
			margin-right: 0.45rem;
			padding: 0.45rem 0.9rem;
			transition: color,background-color 0.5s ease-out;
		}
	}

	.meta-secondary {
		margin-bottom: remSize(10);

		a,
		span {
			color: $gray-700;
			display: inline-block;
		}

		a:hover {
			color: $gray-900;
		}

		.posted-by,
		.posted-on {
			padding-right: $metaPadding;
		}

		.posted-on,
		.post-comments {
			padding-left: $metaPadding;
			border-left: 1px solid $gray-500;
		}
	}
}

.entry-summary {
	p {
		@include remFS(14);
		letter-spacing: 0.01rem;
		line-height: 1.8;
	}
}

.entry-content {
	margin-bottom: remSize(23);
	padding-top: remSize(10);

	p {
		letter-spacing: 0.02rem;
		line-height: 1.9;
	}
}

.entry-footer {
	.tag-list {
		a {
			margin-right: remSize(7);
		}
	}
}