/*---------- Comments ----------*/

.comments-area {
	.comments-title {
		font-size: $commentsTitleSize;
	}

	.comment-list {
		@include gyaanLinkColor($commentsDefaultLinkColor, darken($commentsDefaultLinkColor, 10%));

		.comment-author {
			color: $commentsAuthorColor;
			padding-right: remSize(5);
			@include gyaanLinkColor($commentsAuthorColor, darken($commentsAuthorColor, 10%))
		}

		.comment-time {
			font-size: $commentsTimeSize;

			.oi-clock {
				font-size: $commentsTimeIconSize;
			}
		}

		.comment-content {
			p {
				color: $commentsContentColor;
				font-size: $commentsContentSize;
				letter-spacing: 0.01rem;
				line-height: 1.7;
				margin-bottom: 0.25rem;
			}
		}

		.comment-footer {
			a {
				font-size: $commentsFooterLinkSize;
			}
		}
	}
}

.comment-form-wrapper {
	.comment-respond {
		margin-top: 1.25rem;
		padding: 1rem;

		#cancel-comment-reply-link {
			font-size: $commentsCancelReplySize;

			@include hover-focus {
				.badge.badge-danger {
					background-color: darken($red, 5%);
				}
			}
		}

		@include media-breakpoint-down(xs) {
			padding: 1rem 0 0;

			.btn.submit {
				width: 100%;
			}
		}
	}
}