/*
	Posts section
	=============
*/
.content-wrapper {
	margin-top: remSize(30);
}

.main-article {
	margin-bottom: 1rem;
	padding-bottom: 1rem;
	border: $card-border-width solid $postCardBorderColor;
  	@include border-radius($border-radius);
}

.main-article-wrapper {
	padding: $card-spacer-x ($card-spacer-x * 2);
}

/*---------- Post cards ----------*/

.post-cards {
	margin-bottom: 2rem;

	.card-wrapper {
		margin-bottom: remSize(18);
		padding-right: 9px;
		padding-left: 9px;

		.card {
			border-color: $postCardBorderColor;
		}
	}

	a.card-img-link {
		display: block;
		overflow: hidden;
		position: relative;
		width: 100%;
		@include border-top-radius($card-inner-border-radius);

		.card-img-top {
			height: $postCardFeaturedImageHeight;
			transition: transform 0.5s linear;
		}

		.card-img-overlay {
			background-color: rgba($black, 0.1);
			transition: background-color 0.25s ease-out;
		}

		&:hover {
			.card-img-top {
				transform: scale(1.1);
			}

			.card-img-overlay {
				background-color: rgba($black, 0);
			}
		}
	}

	.entry-meta {
		.meta-primary {
			a.btn {
				font-size: 0.75rem;
				margin-right: 0.25rem;
				@include media-breakpoint-down(md) {
					font-size: 0.6rem;
				}
			}
		}
		.meta-secondary {
			a,
			span {
				@include remFS(12);
			}
		}
	}

	// card - Image post format

	.img-post-card {
		.card-img-overlay {
			background-color: rgba($black, 0.1);
			padding: .5rem;
		}

		.entry-meta {
			.meta-primary {
				margin-bottom: 0;
			}
		}
	}
}

/*---------- Post format - Standard ----------*/

.post-thumbnail {
	box-shadow: inset 7px 18px 70px rgba($black, 0.45);
	margin: 0 auto 0.75rem;
	&.bg-image {
		width: 100%;
		height: $contentFeaturedImageHeight;
	}
}

h1.entry-title {
	font-size: $singleTitleSize;
	padding-top: remSize(10);
	padding-bottom: 0.25rem;
	@include media-breakpoint-down(sm) {
		font-size: $singleTitleSizeSM;
	}
}

h4.entry-title {
	font-size: $cardTitleSize;
	margin-bottom: 0.5rem;
	padding: remSize(7) 0rem 0rem;
	@include media-breakpoint-down(xs) {
		font-size: $cardTitleSizeSM;
	}

	a {
		transition: color 0.3s ease-out;
	} 
}

.entry-meta {
	.meta-primary {
		a.btn {
			display: inline-block;
			margin-right: 0.45rem;
			margin-bottom: 0.3rem;
			padding: 0.45rem 0.9rem;
			transition: color,background-color 0.5s ease-out;
		}
	}

	.meta-secondary {
		margin-bottom: remSize(10);

		a,
		span {
			color: $gray-700;
			display: inline-block;
		}

		a:hover {
			color: $gray-900;
		}

		.posted-by,
		.posted-on {
			padding-right: 0.75rem;
		}

		.posted-on,
		.post-comments {
			padding-left: 0.75rem;
			border-left: 1px solid $gray-500;
		}
	}
}

.entry-summary {
	p {
		@include remFS(14);
		letter-spacing: 0.01rem;
		line-height: 1.8;
	}
}

.entry-content {
	margin-bottom: 1.25rem;
	padding-top: 0.75rem;

	p {
		letter-spacing: 0.02rem;
		line-height: 1.9;
	}
}

.entry-footer {
	.tag-list {
		a {
			margin-right: remSize(7);
		}
	}
}

/*---------- Post format - Image ----------*/

.post_format-post-format-image {
	.post-thumbnail {
		margin: 0 auto;
	}

	.img-overlay {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}

	.img-content {
		background-color: rgba($black, 0.4);
		margin: 0 auto;
		overflow: hidden;
		padding: 0.75rem;
		width: 100%;
		@include media-breakpoint-up(sm) {
			padding: 1rem;
		}
	}

	%img-content-link {
		a {
			color: $linkColorLight;
			&:hover {
				color: $linkHoverColorLight;
			}
		}
	}

	h1.entry-title {
		color: $white;
		@include media-breakpoint-down(sm) {
			margin-bottom: 0;
		}
	}

	h4.entry-title {
		@extend %img-content-link;
	}

	.entry-meta {
		.meta-secondary {
			@extend %img-content-link;

			span {
				color: $linkColorLight;
			}
		}
		@include media-breakpoint-down(sm) {
			.meta-primary {
				margin-bottom: 0;

				a.btn {
					font-size: 0.6rem;
				}
			}
			.meta-secondary {
				a,
				span {
					@include remFS(12);
				}
			}	
		}
	}

	.entry-footer {
		.tag-list {
			color: $white;
		}
	}

	// for content template part only
	&.image-post-content {
		border: 0;

		.main-article-wrapper {
			padding: 0;
			position: relative;
		}

		.post-thumbnail {
			width: 100%;
			@include media-breakpoint-down(xs) {
				min-height: 250px;
			}
		}

		.img-content {
			padding: 2rem;
			position: absolute;
			bottom: 0;
		}
		@include media-breakpoint-down(md) {
			.img-overlay {
				position: relative;
			}

			.img-content {
				background-color: rgba($black, 0.55);
				padding: 1.5rem;
				position: relative;
			}
		}
	}
}