// All variables here

// General
//=========================================================================
$gyaanFonts: 'Noto Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;

// General Colors
$gyaanPrimaryColor: #fff;
$gyaanSecondaryColor: #3c768c;
$whiteLowTransparentized: transparentize(#fff, 0.3);
$blackHighTransparentized: transparentize(#000, 0.9);

// Header
//=========================================================================

$headerWrapperHeight: 250px;

// Site info
$siteHeadingSize: 2.7rem;
$siteDescriptionSize: 1.2rem;
$siteInfoPadding: 3rem;

// Top Menu
$topMenuHeight: 50px;
$topMenuLinkSize: 0.8rem;
$topMenuLinkColor: $whiteLowTransparentized;
$topMenuLinkFocusColor: #fff;
$topMenuBgColor: rgba(32, 32, 32, 0.8);
$topMenuBgMobileColor: opacify($topMenuBgColor, 0.2);
$dropDownBgColor: #333;
$dropDownBorderColor: $blackHighTransparentized;