// All variables here

// General
//=========================================================================
$gyaanFonts: 'Noto Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;

	// bootstrap related colors
	$white: #fff;
	$gray-100: #f8f9fa;
	$gray-200: #e9ecef;
	$gray-300: #dee2e6;
	$gray-400: #ced4da;
	$gray-500: #adb5bd;
	$gray-600: #6c757d;
	$gray-700: #495057;
	$gray-800: #343a40;
	$gray-900: #212529;
	$black: #000;
	$green: #61a771;
	$red: #d1525e;
	$body-color: #505050;
	$info: #17a2b8;

	// theme related colors
	$gyaanPrimaryColor: #3c768c;
	$gyaanSecondaryColor: #5e5e5e;

	// link colors
	$linkColorLight: rgba($white, 0.75);
	$linkHoverColorLight: $white;
	$linkColorDark: $gray-700;
	$linkHoverColorDark: $gray-900;

	// misc
	$screenOverlayBgColor: rgba($black, 0.25);
	$screenOverlay-z-index: 1098;

// Header
//=========================================================================

$headerWrapperHeight: 250px;

	// site info
	$siteInfoColor: $linkColorLight;
	$siteInfo-z-index: 1;
	$siteHeadingSize: remSize(43);
	$siteDescriptionSize: remSize(17);

	// top menu
	$topMenuHeight: 50px;
	$topMenuBorderWidth: 5px;
	$topMenuBorderMobileWidth: 4px;
	$topMenuArrowBorderWidth: ( $topMenuHeight / 4 );
	$topMenuArrowBorderMobileWidth: ( $topMenuHeight / 6 );
	$topMenuLinkSize: 0.8rem;
	$topMenuLinkColor: transparentize($white, 0.3);;
	$topMenuLinkFocusColor: $white;
	$topMenuLinkBeforeBgColor: lighten($gyaanPrimaryColor, 10%);
	$topMenuBgColor: rgba(32, 32, 32, 0.7);
	$topMenuBgMobileColor: opacify($topMenuBgColor, 0.3);
	$topMenuNav-z-index: 100;
	$dropDownBgColor: #333;
	$dropDownBorderColor: transparentize($black, 0.9);

// Sidebar
//=========================================================================

$sidebarBgColor: $gray-100;
$sidebarWidth: 320px;
$sidebarWidthXS: 250px;
$sidebarWrapper-z-index: 1099;
$sidebarBtnTextSize: 0.75rem;

	// widgets
	$widgetTitleSize: 1.25rem;
	$widgetTitleSizeXS: remSize(18);
	$widgetContentSizeXS: remSize(14);
	$widgetCalendarCaptionColor: $gyaanSecondaryColor;
	$widgetNavMenuActiveColor: $linkHoverColorDark;
	$widgetNavMenuBorder: 1px solid $gray-300;
	$widgetNavMenuActiveBorderColor: $gray-400;
	$widgetNavMenuSubMenuSize: remSize(15);
	$widgetRecentCommentsSize: remSize(15);
	$widgetRecentCommentsSizeXS: remSize(14);
	$widgetRecentCommentsBorder: 1px dotted $gray-500;
	$widgetPostDateSize: 0.75rem;
	$widgetPostDateSizeXS: remSize(10);
	$widgetPostDateBorder: 1px solid $gray-300;
	$widgetRSSBorder: 1px solid $gray-400;
	$widgetRSS-SummarySize: 0.75rem;
	$widgetRSS-AuthorSize: remSize(15);
	$widgetTagCloudSize: remSize(11);
	$widgetTagCloud-CountBgColor: #495057;

// Posts
//=========================================================================

$pageTitleSize: 1.5rem;
$pageTitleBgColor: $gray-200;
$pageTitleBorder: 4px solid $green;
$cardTitleSize: 1.45rem;
$cardTitleSizeSM: remSize(21);
$singleTitleSize: 2rem;
$singleTitleSizeSM: 1.75rem;

	// post cards
	$postCardBorderColor: rgba($black, 0.17);
	$postCardFeaturedImageHeight: 250px;
	$postCardFeaturedImageOverlayColor: rgba($black, 0.1);
	$linkMoreBtnSize: remSize(12);

	// single post
	$contentSizeXS: remSize(15);
	$contentFeaturedImageHeight: 500px;
	$metaSecondaryBorderColor: $gray-500;
	$imgContentBgColor: rgba($black, 0.3);
	$carouselCaptionBgColor: rgba($black, 0.45);

	// pages
	$pageContentTitleSize: remSize(30);
	$pageContentTitleSizeSM: 1.75rem;

	// page navigation
	$pageNavBgColor: $info;
	$pageNavHoverBgColor: darken($info, 5%);
	$pageNav-z-index: 1081;

	// post navigation
	$postNavBadgeHoverBgColor: $pageNavHoverBgColor;

	// comments
	$commentsTitleSize: remSize(18);
	$commentsTimeSize: remSize(13);
	$commentsTimeIconSize: remSize(10);
	$commentsDefaultLinkColor: $gray-600;
	$commentsAuthorColor: $gyaanPrimaryColor;
	$commentsContentColor: $gray-700;
	$commentsContentSize: remSize(15);
	$commentsFooterLinkSize: 0.75rem;
	$commentsCancelReplySize: remSize(15);

	// css loaders
	$gridLoaderWidth: 100px;
	$gridLoaderCount: 5;
	$gridLoaderGap: 3px;
	$gridLoaderItemWidth: ($gridLoaderWidth / ($gridLoaderCount * 1px)) - $gridLoaderGap;
	$gridLoaderItemHeight: $gridLoaderItemWidth;
	$gridLoaderBgColor: #9b9b9b;
	$gridLoaderAnimationDelay: 0.1s;
	$gridLoader-z-index: 1080;

// Footer
//=========================================================================

$footerBgColor: $gray-100;
$footerBorder: 1px solid $gray-300;
$footerColor: $gyaanSecondaryColor;
$footerSize: remSize(15);

	// back to top
	$backToTopLinkColor: darken($info, 5%);
	$backToTop-z-index: 1;