// All variables here

// General
//=========================================================================
$gyaanFonts: 'Noto Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;

// General Colors
$gyaanPrimaryColor: #3c768c;
$gyaanSecondaryColor: #5e5e5e;

// Header
//=========================================================================

$headerWrapperHeight: 250px;

// Site info
$siteInfoColor: #fff;
$siteHeadingSize: remSize(43);
$siteDescriptionSize: remSize(18);
$siteInfoPadding: 3rem;

// Top Menu
$topMenuHeight: 50px;
$topMenuLinkSize: 0.8rem;
$topMenuLinkColor: transparentize(#fff, 0.3);;
$topMenuLinkFocusColor: #fff;
$topMenuBgColor: rgba(32, 32, 32, 0.7);
$topMenuBgMobileColor: opacify($topMenuBgColor, 0.3);
$dropDownBgColor: #333;
$dropDownBorderColor: transparentize(#000, 0.9);

// Posts
//=========================================================================

$singleTitleSize: 2.3rem;
$excerptTitleSize: 1.55rem;
$metaPadding: 0.75rem;


